CompileFlags:
  Add:
    - "-I."
    - "-I.."
    - "-I../.."
    - "-I/usr/include/libdrm"
    - "-isystem"
    - "/usr/include"
    - "-std=c11"
    - "-xc"
    - "-Wall"
    - "-DCGD_CONFIG_PLATFORM_LINUX_EVDEV_PS4_CONTROLLER_SUPPORT"
